@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #f97316; /* Orange */
  --bg-dark: #0f172a; /* Slate 900 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 400px;
  max-width: 400px;
  height: 600px;
  overflow: hidden;
  background-color: var(--bg-dark);
}

#react-target {
  width: 100%;
  height: 100%;
}

/* Hide scrollbars for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}